---
doc:
  hidden: true
  description: Use as part of Accordion to create a panel that can be expanded or collapsed.
props:
  title:
    slot: title
    missing:
      remove: "parent"
  open:
    target: "input"
    attributes:
        checked: "checked"
  toggle-icon:
    target: "&"
    class: "collapse-{}"
  name:
    target: "input"
    attribute: name
    default: accordion1
---
<div class="collapse bg-base-100 border border-base-300">
  <input type="radio" />
  <div class="collapse-title font-semibold"><slot name="title"></slot></div>
  <div class="collapse-content"><slot></slot></div>
</div>
