---
doc: |
  Buttons allow the user to take actions or make choices.

  [Link to DaisyUI documentation](https://daisyui.com/components/button/)

props:
  color:
    class: "btn-{}"
    type: Enum[primary,secondary,accent,neutral,success,warning,info,error]
  active:
    class: "btn-active"
  outline:
    class: "btn-outline"
  size:
    class: "btn-{}"
    type: Enum[xs,sm,md,lg,xl]
  wide:
    class: "btn-wide"
  block:
    class: "btn-block"
  shape:
    class: "btn-{}"
    type: Enum[square,circle]
  join:
    class: "join-item"
  as:
    tag: "{}"
    default: button
---
<button class="btn"><slot></slot></button>
