---
doc:
  description: |
    Text Input is a simple input field.

    [Link to DaisyUI documentation](https://daisyui.com/components/input/)

props:
  color:
    class: "input-{}"
    type: Enum[primary,secondary,accent,neutral,success,warning,info,error]
  size:
    class: "input-{}"
    type: Enum[xs,sm,md,lg,xl]
  ghost:
    class: "input-ghost"
  type:
    attribute: type
    default: "text"
  join:
    class: join-item
  validator:
    class: validator
  validator-hint:
    target: ".validator-hint"
    missing:
      target: ".validator-hint"
      outerHTML: ""
---
<input class="input" />
<div class="validator-hint"></div>
