---
doc:
  description: |
    Select is used to pick a value from a list of options.

    [Link to DaisyUI documentation](https://daisyui.com/components/select/)

props:
  color:
    class: "select-{}"
    type: Enum[primary,secondary,accent,neutral,success,warning,info,error]
  size:
    class: "select-{}"
    type: Enum[xs,sm,md,lg,xl]
  ghost:
    class: "select-ghost"
  placeholder:
    target: "option[disabled]"
    innerHTML: "{}"
    missing:
      outerHTML: ""
  join:
    class: join-item
  validator:
    class: validator
  validator-hint:
    target: ".validator-hint"
    missing:
      target: ".validator-hint"
      outerHTML: ""
---
<select class="select">
  <option disabled selected></option>
  <slot></slot>
</select>
<div class="validator-hint"></div>
