---
doc:
  description: |
    Loading shows an animation to indicate that something is loading.

    [Link to DaisyUI documentation](https://daisyui.com/components/loading/)

props:
  style:
    class: "loading-{}"
    default: "spinner"
    type: Enum[spinner, dots, ring, ball, bars, infinity]
  size:
    class: "loading-{}"
    default: md
    type: Enum[xs,sm,md,lg,xl]
  color:
    class: "text-{}"
    type: Enum[primary,secondary,accent,neutral,success,warning,info,error]
---
<span class="loading"></span>
